.auth-header {
    background-color: #f6f7f9;
}



@media (min-width: 768px) {
    .auth-form {
        padding: 3rem 2rem 1rem;
        max-width: 700px;
        border-radius: .25rem;
        background-color: #fff;
        box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
    }
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    height: 47px;
}